div#map1 {
    margin-top: 50px;
    width: 1100px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}
/* d3 SVG positioning */

div#map1 svg {
    position: relative;
}
div.tooltip {
    position: absolute;
    font: 12px sans-serif;
    background: white;
    width: 160px;
    height: 45px;
    padding: 2px;
    pointer-events: none;
    border-radius: 2px;
    border: 1px solid black;
}
br {
    display: block;
    content: "";
    margin-top: 0;
}
